@import "../common/variables";

.capabilities-logo {
  width: 120px;
  top: 50%;
  transform: translateY(-50%);

  .esi-logo-vector-0{
    fill:#B3B2B1;
  }

  .esi-logo-vector-1{
    fill: $white;
  }
}

.capability-item {
  display: none;
  overflow: hidden;
  opacity: 0.0;
  transform-origin: left center;
}
