/* This File Contains All Responsive CSS - Sweet! */

@red: #e2401f;

@blue: #3FAAED;

@purple: #726690;

@green: #959e2e;

@yellow: #deb439;

@orange: #dc801c;

@gray: #999;


/* Custom Drop-Down
================================================== */
#masternav .selector option{ background:#eee; -webkit-appearance:none; padding: 5px; }
#masternav .selector, 
#masternav .selector span{ cursor: pointer !important; -webkit-font-smoothing:antialiased; }
#masternav .selector, 
#masternav .selector *{ margin:0; padding:0; }
#masternav .selector select{ top:0px; left:0px; }
#masternav .selector{ width: 100%; font-size:12px;  font-weight:bold; }
#masternav .selector span:after {
	padding-left: 7px;
	padding-right: 5px;
	content: "\f078";
	font: 8px "FontAwesome";
	position: relative;
	top: -2px;
}
#masternav .selector span{ cursor:pointer; }
#masternav .selector{ height: 30px; line-height: 30px; display:-moz-inline-box;  display:inline-block;  vertical-align:middle;  zoom:1;  *display:inline; }
#masternav .selector select:focus{outline:0; }
#masternav .selector{ position:relative;  padding-left:6px;  overflow:hidden; }
#masternav .selector span{ display:block;  overflow:hidden;  text-overflow:ellipsis;  white-space:nowrap; font: 16px "proxima-nova-alt-condensed", sans-serif; }
#masternav .selector select{ position:absolute;  height:35px;  background:none;  width:97%; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;  font-size:12px;  font-weight:500;  border:0 !important; }


/* General
================================================== */
img, video { max-width: 100%; }


/*hide redundant menu*/
#masternav select { display: none; width: 100% !important; }
#masternav .selector { display: none; margin-top: 5px; }


/* Apply To All Responsive Layouts
================================================== */
@media only screen and (device-width: 768px) {

	
}

/* #Tablet (Landscape)
================================================== */
@media only screen and (min-width: 960px) and (max-width: 1024px) {
.home_item10 {
	left: -29px;
}

.description {
	padding: 30px 10px 0px 12px;
	background-position: top right;
	width: 225px;
}

.home_item10 h1 a {
	font-size: 18px;
}

.home_item10 h1 {
	line-height: 18px;
	padding-right: 11px;
}

}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 740px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#wrap{ width: 680px; }
	.hp-highlight, .portfolio-item, .home-entry, #footer-one,#footer-two,#footer-three,#footer-four{ width: 155px;  }
	#home-tagline{ font-size: 21px; }
	#search { text-indent: -9999px; }
	#header {width: 768px; }
    form#searchform { left: 650px; }

.home-wrap {
	left: -20px;
}

.home_item1 {
	left: 0;
	top: 0;
	height: 258px;
	width: 457px;
}

.placeholder {
	height: auto;
}

.home_item1 iframe {
	width: 100% !important;
	height: 100%;
}

.home_item1 span.awesome-icon-play, .home_item1 span.awesome-icon-pause {
	bottom: 50%;
}

/* work & about */
.home_item2 {
	left: 125px;
	top: 272px;
}

.home_item6 {
	left: 0px;
	top: 272px;
}

.home_item3 {
	left: 470px;
	height: 170px;
	width: 240px;
	display: none !important;
}

.home_item4 {
	left: 470px;
	top: 214px;
	height: 170px;
	width: 240px;	
	max-width: 122%;
}

.home_item3 img, .home_item4 img {
	top: 0px;
	height: auto;
	max-width: 116% !important;
}

.home_item3 .project-overlay, .home_item4 .project-overlay {
	top: 137px;
}

.home_item5 img {
	height: auto;
}

.home_item5 {
/* 	display: none !important; */
	left: 303px;
	top: 398px;
	height: 300px;
	width: 240px;
}

.home_item5 .project-overlay {
	top: 267px;
}

.home_item9 {
	left: 278px;
	top: 283px;
}

.people1, .people2, .people3 {
	display: none !important;
}

.home_item10 {
	left: -10px;
	top: 366px;
}

/* contact, approach, lab */
.home_item11 {
	display: none !important;
}

.home_item7 {
	left: 470px;
	top: 86px;
}

.home_item7_lab {
	left: 596px;
	top: 86px;
}

/* people */
.home_item12 {
	left: 558px;
	top: 398px;
}

.home_item6_blog {
	left: 558px;
	top: (398px + 125px);	
}

/* social media  */
.home_item13 {
	left: 558px;
	top: (398px + 245px);
}

.home_item9_quote {
	left: 50px;
	width: 100%;	
}

.home_item9_quote h3.quote {
	margin-right: 120px;
}

.project-content {
	width: 680px;
}

#featured .flexslider, #featured iframe, #projects_slider .flexslider, #not-featured .flexslider, .loading  {
	height: 386px;
	margin-bottom: 60px;
	width: 100%;
}

#projects_slider {
	width: 680px;
}

#projects_slider #slider-wrap {
	height: 396px;
}

#featured .flex-caption, #projects_slider .flex-caption {
	width: 575px;
}

#featured .flexslider img, #featured iframe, .archive-project .flexslider img {
	height: 386px;
}

.flex-control-nav { 
	bottom: -30px;
}

#single-project-right .featured-meta h3 {
	font-size: 1.3em;
}

a.all {
	top: 4px;
}

.related-item, .related-item img {
	max-width: 100%;
}

#og-grid .clear {
	display: none;
}

.people_excerpt {
	padding-bottom: 20px;
	padding-top: 0px;
	width: 70%;
}

.people_excerpt h1 {
	font-size: 42px;
	margin-bottom: 4px;
	margin-top: -10px;
}

.people_excerpt h3 {
	font-size: 20px;
}

.people_block, .people_item2 {
/* 	margin-bottom: 56px; */
}

.lower .clear {
	display: none !important;
}

/* New About  */
.page-id-452 .about-wrap {
	font-size: 13px;
}

.about-wrap h3 {
	font-size: 110%;
}

.about_work1 {
	margin: 0;
	width: 57%;
}

.about_work_right {
	width: 40%;
}

.about_people1 {
	margin-left: 0;
	width: 58%;
}

.about_people3, .about_people7 {
	display: none;
}

/* New Approach  */
.approach-wrap {
	font-size: 13px;
}

.approach-wrap h1 {
	font-size: 180%;
	line-height: 130%;
}

.approach-wrap h3 {
	font-weight: 500;	
}

.approach_title {
	width: 65%; 
}

.approach_title_imgs img:first-child {
	display: none !important;
}

.approach_title_imgs {
	width: 26%;
}

.one div {
	bottom: 4%;
}

.approach3 div {
	width: 60%;
}

.approach4 div {
	padding: 15% 10% 54.7%;
}

.approach5 div, .approach6 div {
	bottom: 2%;
}

.approach2 div {
	padding-top: 2% !important;
}

.approach4 .three:first-child img {
	margin-bottom: -1.5%;
}

.process_item7, .process_item15, .white {
	display: none !important;
}

.process_title h3 {
	width: 360px;
}

.process_item8 {
	top: 0;
	left: 467px;
}

.process_item9 {
	top: 183px;
	left: 467px;
}

#st-accordion {
	top: 366px;
}

#st-accordion ul li {
	width: 427px;
}

.process_item12 {
	top: 366px;
	left: 467px;
}

.process_item13 {
	top: 550px;
	left: 467px;
}

.process_item14 {
	top: 550px;
	left: 595px;
}

.new_about_wrapper {
	position: relative;
	left: 0px;
}

.about_item1 {
	top: 70px;
	left: 250px;
}

.about_item1 h3 {
	font-size: 22px;
}

.about_item1 h3 {
	width: 100%;
}

.about_item2, .about_item6 {
	display: none !important;
}

.about_item4 {
	left: 125px;
	top: 560px;
}

.about_item4_2 {
	left: 0px;
	top: 685px;
}

.about_item5 {
	left: 0px;
	top: 560px;
}

.about_item10 {
	top: 0;
	left: 0;
}

.about_item13 {
	top: 180px;
	left: 0;
}

.about_item11 {
	top: 360px;
	left: 0px;
}

.about_item15 {
	top: 360px;
	left: 125px;
}

#st-accordion_about {
	top: 360px;
	left: 250px;
}

#st-accordion_about ul li {
	width: 422px;
}

.about_item8 span.awesome-icon-play, .about_item9 span.awesome-icon-play, .about_item14 span.awesome-icon-play {
	margin-right: 14px;
}

.about_item16 {
	top: 485px;
	left: 0px;
}

.page-template-template-blog-php .post {
	width: 95%;
}

#map_canvas {
	width: 100% !important;
}

#sidebar {
	width: 33%;
}

}


/*  #Mobile (Global)
================================================== */

/* Note: Design for a width of 290px */
@media only screen and (max-width: 767px) {

	/*hide*/
	.flex-caption { display: none !important; }
	
	/*display dropdown nav*/
	#masternav .selector,
	#masternav select { display: inline-block; }
	#masternav ul { display: none; }
	#masternav{ padding: 0; height: 40px; line-height: 30px; float: none; padding: 0 5px; margin: 0; border-left: 1px solid #DDD; border-right: 1px solid #DDD; color: #999; top: 25px; right: 0; cursor: pointer; }
	html {width: 280px; margin: 0 auto;}
	#wrap{ width: 260px; padding: 0px 5px; overflow: hidden; }
	.hp-highlight, .portfolio-item, .home-entry, #footer-one,#footer-two,#footer-three,#footer-four{ width: 260px; margin-right: auto; margin-left: auto; }
	
	#main {
		margin-top: 30px;
	}
	
form#searchform {
	display: none !important;
}

h1 {
	font-size: 30px;
}

.home-wrap {
	top: 10px;
	margin: 0 auto;
	width: 240px;
	height: 670px;
}

.home_item1 {
	display: none !important;
}

/* work & about */
.home_item2 {
	left: 0px;
	top: 0px;
}

.home_item6 {
	left: 125px;
	top: 0px;
}

.home_item3 {
	display: none !important;
}

.home_item4 {
	display: none !important;
}

.home_item5 {
	display: none !important;
}

.home_item9 {
	left: 50px;
	top: 110px;
	z-index: 0;
}

.people1, .people2, .people3 {
	display: none !important;
}

.home_item10 {
	left: 0px;
	top: 490px;
}

.description {
	background: none;
	padding-top: 2px;
	padding-left: 0px;
	width: 78%;
}

.home_item10 h1 a {
	color: #B0B0B0;
	font-size: 19px !important;
	font-weight: 300;
}

/* contact & process */
.home_item11 {
	display: none !important;
}

.home_item7 {
	left: 125px;
	top: 200px;
}

/* people */
.home_item12 {
	left: 0px;
	top: 200px;
}

.home_item6_blog {
	display: block !important;
	left: 0px;
	top: (200px + 125px);
}

.home_item7_lab {
	display: block !important;
	left: (0px + 125px);
	top: (200px + 125px);
}

/* social media  */
.home_item13 {
	left: 130px;
	top: (325px + 120px);
	height: 50px;
}

.home_item9_quote {
	display: none !important;
}

.home_item9_quote h3.quote {
	margin-right: 120px;
}

.project-drop {
	margin-top: 0px;
	float: left;
}

.project-content {
	top: 30px;
}

#projects_slider .flexslider, #projects_slider #slider-wrap, #projects_slider .loading  {
	display: none !important;
}

#slider-wrap {
	margin-bottom: 10px;
}

.flexslider .slides > li {
	display: block;
}

#featured, #not-featured {
	display: block;
}

#featured .flexslider {
	background:none !important;
}
	
#featured .flexslider, #featured iframe, #not-featured .flexslider, .loading  {
	clear: both;
	display: block;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
}

#featured .flexslider img, #featured iframe, .archive-project .flexslider img {
	width: 100%;
	margin-bottom: 10px;
}

#featured .flex-viewport, .archive-project .flex-viewport, #not-featured .flex-viewport {
	height: 250px !important;
}

.flex-control-nav { 
	bottom: -60px;
	width: 100%;
}

#not-featured .flexslider {
	height: auto;
}

img.mosaic1, div.mosaic1 {
	clear: both;
	float: none;
	min-height: 0px;
	margin-bottom: 10px;
}

div.mosaic1 {
	width: 90% !important;
	height: 170px;
}

iframe#mosaic_player {
	max-height: 100%;
}

#single-project-left, #single-project-right {
	float: none;
	margin-top: 15px;
	width: 100% !important;
}
	
	.flex-direction-nav li a.next,
	.flex-direction-nav li a.prev {height: 40px;width: 25px; line-height: 40px;margin-top: -20px;}
	
	ul.filter{ position: inherit; margin-top: 10px; margin-bottom: 0px; top: 22px;
left: 80px; }
/* 	ul.filter li{ margin-top: 10px; } */
	
ul.filter a#all span {
	float: left;
	margin-top: -18px;
}
	
.project-content {
	width: 320px;
}
	
.all-projects {
	display: block;
	position: relative;
	top:0px;
	right:0px;
	float: left;
	margin-bottom: 10px;
}

a.all {
	position: relative;
	top: 0;
	right: 0;
	display: block;
}

.nf-loading {
	display: none;
}

.title {
	display: block !important;
	top:0;
	left:0;
	clear: both;
}

.band {
	background: none;
	position: relative;
	padding: 8px 20px 0px 0px;
	z-index: 1000;
}
	
.band h1 {
	color: #3FAAED !important;
	font-weight: 500;
	font-size: 30px;
	line-height: 120%;	
	text-transform: none;
}

iframe {
	max-width: 100%;
}

.triangle {
	display: none;
}
	h2.excerpt {
		font-size: 28px;
	}
	
	body {
		line-height: 1.5em;
	}
	
	a.all {
		top: 4px;
	}
	
	.featured-meta h3 {
		padding-bottom: 16px;
	}
	
.pull-quote {
	padding-left: 0px;
	width: 100%;
}
	
.pull-quote h3 {
	font-size: 18px;
}
	
#single-nav a{ font-size: 10px; }
#single-nav-left, #single-nav-right { margin-left: 5px; }

.post, #sidebar{ width: 100%; }

.loop-entry-meta{ display: none; }
.loop-entry h2{ margin-bottom: 10px; }

#sidebar{ margin-top: 25px; padding-top: 25px; }

#page-heading{ margin-top: 20px; }
#single-nav{ position: inherit; margin-top: 20px; margin-left: -10px; text-align: center; }
#single-nav-left, #single-nav-right { display: inline-block; float: none; }

.children li{ margin: 0 !important; }
	

.post-type-archive-project .item:hover {
	background: none;
	box-shadow: none;
}	
	
.post-type-archive-project h1.pagetitle, .single-project h1.pagetitle {	
	font-size: 38px;
	margin-left: -2px;
}

.post-type-archive-project .project-overlay {
	top: 78%;
	width: 90%;
}

.post-type-archive-project .item img {
	max-width: 90% !important;
}

/* New About  */
.page-id-452 .about-wrap {
	font-size: 11px;
}

.about-wrap h3 {
	font-size: 110%;
}

.about_work1, .about_people1 {
	margin: 1%;
	width: 98%;
}

.about_work h3 {
	width: 100%;
}

.about_work_right {
	width: 100%;
}

.about_work4, .about_work5 {
	display: none;
}

.about_work a.project-overlay {
	font-size: 105%;
}

.about_phil {
	background: #e2401f;
}

.about_phil_text {
	padding: 0 3%;
}

.about_phil .gradient {
/* 	background: none !important; */
	background-image: none !important;
}

.about_phil_text {
	width: 90%;
}

.about_people_right {
	width: 100%;
}

.about_people2, .about_people5, .about_people7 {
	display: none;
}


/* New Approach  */
.approach-wrap {
	font-size: 10px;
}

.approach-wrap h1 {
	font-size: 150%;
}

.approach_title {
	margin: 0%;
	width: 100%;
}	
	
.approach_title_imgs {
	display: none !important;
}

.one div, .one h1, .one h3 {
	bottom: 0px;
	width: 90% !important;
}

.approach1 h1 span {
	padding-left: 0 !important;
}

.approach2 img, .approach7 img {
	display: none;
}

.approach2, .approach7 {
	padding-bottom: 25%;
}

.approach2 .two:first-child, .approach7 .two:nth-child(2) {
	margin-left: 0%;
	width: 100%;
}

.approach4 .three img {
	margin-bottom: -3%;
}

.approach4 div {
	padding: 13% 8% 58.1%;
	margin-bottom: 0%;
	width: 131%;
}

.approach4 .three:last-child {
	display: none;
}

.approach5, .approach6 {
	margin-left: 0%;
	width: 100%;
}

.approach7 {
	margin-bottom: 1%;
}

.approach7 div {
	padding: 4% 6% 1%;
}

.process_item7, .process_item15, .white, .process_item13, .process_item14 {
	display: none !important;
}

.process-wrap {
	height: 100%;
}

.process_item8, .process_item9, .process_item12 {
	margin-bottom: 10px;
	width: 110%;
}

.process_item8 img, .process_item9 img, .process_item12 img {
	width: 110%;
}

.process_title {
	position: relative;
	top: 0;
	left: 0px;
	margin-top: 50px;
	width: 75%;
}

.process_title h1 {
	font-size: 38px;
	padding-left: 0px;
	width: 120%;
}

.process_title h3 {
/* 	font-size: 16px; */
	font-size: 15px;
	padding-left: 0px;
	width: 130%;
}

.process_item8 {
	position: relative;
	top: 0;
	left: 0px;
	width: 110%;
	height: 110%;
	box-shadow: none;
}

.process_item9 {
	position: relative;
	top: 0;
	left: 0px;
	width: 110%;
	height: 110%;
	box-shadow: none;
}

.process_item12 {
	position: relative;
	top: 0;
	left: 0px;
	width: 110%;
	height: 110%;
	box-shadow: none;
}

#st-accordion {
	position: relative;
	top: 0;
	left: 0px;
	width: 100%;
}

#st-accordion .circle, #st-accordion .awesome-icon-play {
	display: none;
}

#st-accordion ul li {

	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.process_text1 span.circle, .process_text2 span.circle, .process_text3 span.circle, .process_text4 span.circle, .process_text5 span.circle {
	right: 0px;
}

.process_text1 span.awesome-icon-play, .process_text2 span.awesome-icon-play, .process_text3 span.awesome-icon-play, .process_text4 span.awesome-icon-play, .process_text5 span.awesome-icon-play {
	right: 7px;
}

.process_text1 a, .process_text2 a, .process_text3 a, .process_text4 a, .process_text5 a {
	font-size: 13px;
}

.st-content p, .st-content ul li {
	font-size: 13px;
	line-height: 130%;
}

.og-grid li, .people_item {
	float: left;
	height: auto;
	width: 40%;
	margin-right: 12px;
	margin-bottom: 10px;
}

li.people-grid img, .people_item img {
	height: auto;
}

.people_item .caption_people {
	position: relative;
}

li.people-grid .caption_people {
	color: #999;
	position: relative;
	bottom: 0px;
	width: 97%;
	padding: 4px 0 4px 5px;
	margin-top: 0px;
	min-height: 68px;
}

.og-expander {
	margin-top: 0px;
	width: 110%;
	margin-left: -20px;
}

.og-expander-inner {
	padding: 40px 25px;
}

.og-details {
	padding: 0 20px 0 0px;
}

.people-wrap {
	margin-left: 5%;
}

.people-grid2, .people-grid3, .people_block2, .people_block, .people_item2 {
	display: none !important;
}

.people_excerpt {
	top: 0px;
	left: 0px;
	height: 90%;
	padding: 20px 0 20px 0px;
	margin-bottom: 0px;
	width: 90%;
}

.people_excerpt h1 {
	font-size: 34px;
}

.people_excerpt h3 {
	font-size: 16px;
}

.about-wrap {
	height: auto;
}

.new_about_wrapper {
	left: 0px;
}

.about_item2,
.about_item5,
.about_item4, 
.about_item4_2  {
	display: none !important;
}

.about_item1 {
	position: relative; 
	top: 0;
	left: 0;
}

.about_item1 h1 {
	font-size: 38px;
	padding-left: 0px;
}

.about_item1 h3 {
	font-size: 16px;
	padding-left: 0px;
	width: 90%;
}

.about_item10, 
.about_item13, 
.about_item16, 
#st-accordion_about, 
.about_item11, 
.about_item15, 
.about_item6, 
.about_item16 {
	position: relative !important; 
	top: 0;
	left: 0;
}

#st-accordion_about ul li {
	padding-left: 14px;
	width: 90%;
}

#st-accordion_about .st-content {
	padding-top: 18px;
}

.about_item9 a, .about_item8 a, .about_item14 a {
	font-size: 14px;
}

.about_item8 span.circle, .about_item9 span.circle, .about_item14 span.circle {
	position: relative;
	top: 0;
	left: 0;
	float: right;
}

.about_item8 span.awesome-icon-play, .about_item9 span.awesome-icon-play, .about_item14 span.awesome-icon-play {
	margin-right: 0px;
	top: 8px;
	left: 16px;
}

.about_item10, 
.about_item13, 
.about_item16, 
.about_item6 {
	height: 100%;
	width: 100%;
	box-shadow: none;
}

.about_item10 img, 
.about_item13 img,  
.about_item6 img {
	width: 100%;
}

.about_item11 {
	float: left;
	margin-bottom: 10px;
}

.about_item15 {
	float: right;
	margin-bottom: 10px;
}

.about_item16 {
	width: 100%;
}

.about_item16 h2 {
	padding-top: 0px;
	position: relative;
	top: -9px;
}

.page-id-837 h1 {
	font-size: 32px;
}

.page-template-template-blog-php .post {
	width: 100%;
}

.loop-entry-thumbnail {
	float: none;
}

#map_canvas {
	display: none !important;
}

form#subForm {
	width: 260px !important;
}

form#subForm div {
	width: 100%;
}

form#subForm input {
	width: 50%;
}

form#subForm input#submit {
	width: 35%;
}

.tweet {
	display: none !important;
}

#copyright, #links, #social-media {
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
}

#links {
	margin-left: 0px;
}

#links ul li a {
	border-left: none;
	padding: 5px 6px;
}

}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 420px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
 	html { width: 440px;}
	#wrap{ width: 420px; }
	.hp-highlight, .portfolio-item, .home-entry, #footer-one, #footer-three{ width: 200px; margin-right: 20px; }
	#footer-two, #footer-four { width: 200px; margin-right: 0; }
	
	.responsive-clear{ clear: both; }
	
	.loop-entry-thumbnail{width: 33%;}


.post-type-archive-project .project-overlay {
	top: 90%;
	width: 180%;
}

.project-content {
	width: 420px;
}

a.all {
	position: absolute;
	right: 1px;
	top: 11px;
	display: inline;
}

.post-type-archive-project .item img {
	max-width: 120% !important;
}	

#featured .flexslider img, #featured iframe, .archive-project .flexslider img {
	height: 234px;
}
	
.process_item8 {
	width: 103%;
	height: 103%;
}

.process_item9 {
	width: 103%;
	height: 103%;
}

.process_item12 {
	width: 103%;
	height: 103%;
}

.approach-wrap {
	text-size: 10px;
}

.approach-wrap h1 {
	font-size: 180%;
}

.people_excerpt {
	height: 100%;
	padding: 0px 0 20px 0px;
	margin-bottom: 20px;
	top: 0px;
	width: 75%;
}

#st-accordion_about ul li {
	width: 95%;
}

	
}


/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 420px */
@media only screen and (max-width: 479px) {
	
		
	#featured .flexslider img, #featured iframe, .archive-project .flexslider img {
		height: 147px;
	}
	
	.about-wrap h2 {
		font-size: 160%;
	}
	
	.about_text {
		border-bottom: 1px solid #999;
		position: relative;
		left: 0%;
		padding-left: 3%;
		width: 100%;
	}
	
	.about_text h1 {
		margin: -45px 1% 15px;
	}
	
	.about_text h3 {
		color: #999999;
	}
	
	.about_phil { 
		padding-bottom: 100%;
	}
	
	.about_people3 {
		display: none;
	}
	
	@light_green: #a3ad34;
	@dark_green: #767d26;
	
	.approach3 span.gradient, .approach4 span.gradient, .approach5 span.gradient, .approach6 span.gradient, .approach8 span.gradient {
		display: none !important;
	}
	
	.approach1 {
		padding-bottom: 117%;
	}
	
	.approach1 span.gradient {
		float: none;
		clear: both;
		display: block;
	}
	
	.approach1 div {
		clear: both;
		display: block;
		background: @light_green;
		margin-top: 1%;	
		width: 100% !important;
	}
	
	.approach1 h1 {
		line-height: 140%;
	}
	
	.approach2 {
		margin-bottom: 1%;
		padding-bottom: 42%;
	}

	.approach2 .two div {
		background: @green !important;	
		margin-right: 0%;
		width: 90% !important;
	}
	
	.approach3 {
		background: @dark_green;	
		padding-bottom: 54%;
	}
		
	.approach3 h3 {
		width: 95% !important;
	}
	
	.approach4 div {
		background: @light_green !important;
	}
	
	.approach4 img {
		display: none;
	}
	
	.approach4 div {
		margin: 0% 0 2% -1.9%;
		padding: 8% 10% 85%;
		width: 174.9%;
	}
	
	.approach5 .two, .approach6 .two {
		float: none;
		margin-bottom: 1%;
		padding-bottom: 37%;
		width: 100%;
	}

	.approach6 .two:first-child {
		margin-left: 0;
		margin-bottom: 0;
	}
	
	.approach5 {
		float: none;
		background: @green;
	}
	
	.approach6 {
		float: none;
		background: @dark_green;
		padding-bottom: 2%;
	}
	
	.approach1 div, .approach2 .two div, .approach3 div, .approach5 div, .approach6 div, .approach8 div {
		position: relative !important;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5% 5% 10%;
		width: 88%;
	}
	
	.approach6 h3 {
		margin-bottom: 0px;
	}
	
	.approach7 {
				padding-bottom: 48%;
	}
	
	.approach7 div {
		background: @light_green !important;
		margin-bottom: 0%;
	}
	
	.approach8  {
		background: @green !important;
	}
	
	.approach8 div {
		padding-bottom: 3%;
	}
	
	.approach8 h3 {
		width: 98% !important;
	}
	

}