{% extends "layouts/base.twig" %}

{% block content %}
<div data-js-full-page-container>

  {% include 'partials/home/splash-module.twig' %}

  {% include 'partials/home/about-module.twig' %}

  {% include 'partials/home/verticals-slider.twig' %}

  {% include 'partials/home/teams-module.twig' %}

  {% include 'partials/home/lab-module.twig' %}

  {% include 'partials/home/contact-module.twig' %}

</div>
{% endblock %}
